---
const { component } = Astro.props;

import type { Component, Image } from "@/consts/projects";
let [images] = component.map((c: Component) => c.images);
let [columns] = component.map((c: Component) => c.columns);
---

<div
	class:list={["grid gap-8 mt-16 pb-12 grid-cols-1", `md:grid-cols-${columns}`]}
>
	{
		images.map((i: Image) => (
			<div class="col-span-1 flex flex-col gap-2">
				<img
					loading="lazy"
					decoding="async"
					src={i.url}
					alt={`"${i.alt}"`}
					width={i.url}
					height={i.height}
					class="w-full object-cover aspect-square"
				/>
			</div>
		))
	}
</div>
