---
interface Props {
	title: string;
	description: string;
	canonical?: string;
}

const { title, description, canonical } = Astro.props as Props;

const canonicalURL = canonical
	? new URL(canonical, Astro.site)
	: new URL(Astro.url.pathname, Astro.site);
---

<title>{title}</title>

<meta charset="UTF-8" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="robots" content="index, follow" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href={canonicalURL} />
<meta name="generator" content={Astro.generator} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/featured-lowton.jpg" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content="Lowton Advertising" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />

<!-- Google tag (gtag.js) -->
<script
	type="text/partytown"
	async
	src="https://www.googletagmanager.com/gtag/js?id=G-D84CT1TW4E"></script>
<script type="text/partytown">
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());

	gtag("config", "G-D84CT1TW4E");
</script>
