---
import Layout from "@/layouts/Layout.astro";
import ProjectTitle from "@/components/ProjectTitle.astro";
import AboutProject from "@/components/AboutProject.astro";
import { Image } from "astro:assets";
import client from "@/lib/apollo-client";
import gql from "graphql-tag";

import type { Project } from "@/consts/projects";
import MediaProject from "@/components/MediaProject.astro";

export function getStaticPaths() {
  return [{ params: { slug: "adidas-f50" } }];
}

const SINGLE_PROJECT = gql`
  query SingleProject($slug: String!) {
    project(where: { slug: $slug }) {
      name
      slug
      industry
      videoUrl
      year
      client
      shortIntro
      aboutProject {
        html
      }
      category {
        ... on Category {
          id
          name
        }
      }
      components {
        ... on Video {
          id
          type
          url
        }
        ... on SingleImage {
          id
          type
          image {
            url
            width
            height
            alt
          }
        }
        ... on Grid {
          id
          type
          images {
            url
            width
            height
            alt
          }
          columns
        }
      }
      featuredImage {
        url
        width
        height
        alt
      }
    }
  }
`;

const { data } = await client.query({
  query: SINGLE_PROJECT,
  variables: { slug: Astro.params.slug },
});

const project: Project = data.project;

const { slug } = Astro.params;

export const prerender = true;
---

<Layout
  title={`${project.name} - Lowton Advertising`}
  description=`Información acerca del proyecto ${project.name}`
>
  <main>
    <ProjectTitle
      title={project.name}
      client={project.client}
      year={project.year}
      description={project.shortIntro}
    />
    <div class="px-8 md:px-16 pb-8">
      <picture class:list={["w-full aspect-video"]}>
        <Image
          width={project.featuredImage.width}
          height={project.featuredImage.height}
          transition:name="project"
          class:list={["w-full object-cover"]}
          alt={`"${project.featuredImage.alt}"`}
          src={project.featuredImage.url}
        />
      </picture>
    </div>
    <AboutProject
      client={project.client}
      industry={project.industry}
      services={project.category.map((category) => category.name)}
      about={project.aboutProject.html}
    />
    <MediaProject components={project.components} />
  </main>
</Layout>
